DB_HOST=localhost
DB_PORT=3306
DB_NAME=traffic_fines_db
DB_USER=
DB_PASSWORD=


SERVER_PORT=8080
JWT_SECRET=your-super-secret-key-that-must-be-at-least-256-bits-long-for-hs256
JWT_EXPIRATION=86400000

NOTIFYLK_ENABLED=false
NOTIFYLK_ENDPOINT=
NOTIFYLK_USER_ID=
NOTIFYLK_API_KEY=
NOTIFYLK_SENDER_ID=

